@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.button-gradient {
  background: radial-gradient(
    1160.74% 294.24% at -24.78% -20.73%,
    #e7ddee 0%,
    #d3b5eb 100%
  );
}

.card-gradient {
  background: linear-gradient(
    21deg,
    #8f2bdd -200%,
    #d5a8f7 0%,
    rgb(255, 255, 255) 120%
  );
}

.text-gradient {
  background: linear-gradient(61deg, #e4cff5 0%, #8b25dc 49.27%, #cb88ff 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.animation {
  -webkit-animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.sing-up-form {
  background: radial-gradient(
    106.79% 101.9% at 32.03% 33.84%,
    #efdef2 0%,
    rgba(242, 228, 244, 0) 100%
  );
  box-shadow: 0px 8px 17px 0px rgba(0, 0, 0, 0.05);
}

.form-control label {
  @apply block px-1 py-2 text-sm sm:text-base;
}

.form-control input {
  @apply bg-[#E3D2E4] py-2 px-3 rounded-xl w-full outline-none text-sm sm:text-base font-lato border-[1px] border-[#BC9BBF] focus:ring-[3px] focus:ring-[#936C97];
}

.form-control .input-error {
  @apply ring-2 ring-red-500 focus:ring-red-700;
}

.password input {
  @apply pr-12;
}

.active-img {
  opacity: 1;
}

.checkbox-wrapper input[type='checkbox'] {
  /* removing default appearance */
  -webkit-appearance: none;
  appearance: none;
  /* creating a custom design */
  width: 16px;
  height: 16px;
  border-radius: 3px;
  margin-right: 10px;
  border: 1px solid #bc9bbf;
  background-color: #e3d2e4;
  outline: none;
  cursor: pointer;
}

.checkbox-wrapper label {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.checkbox-wrapper input[type='checkbox']:focus {
  @apply ring-1 ring-[#936C97];
}

input:checked {
  background-color: #007a7e;
  position: relative;
}

input:checked::before {
  content: '•';
  font-size: 37.5px;
  color: #6b4a6e;
  position: absolute;
  right: -0.7px;
  top: -20.75px;
}

@-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(75px);
    transform: translateY(75px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes slide-top {
  0% {
    -webkit-transform: translateY(75px);
    transform: translateY(75px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
